<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>
<strong>Category:</strong>
  <%= @restaurant.category%>
</p>
<%= link_to "Back to the list", restaurants_path, class: "btn btn-primary"%>

<h2>The reviews of <%= @restaurant.name %></h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p>Note: <%= review.rating %></p>
<% end %>


